{%include 'header.html'%}






 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1 align="center" style="color: rgb(3, 3, 3);">CYBER GUARD</h1>
<form action="" method="post">
    <table align="center">

        <tr>
            <th style="color: rgb(1, 1, 1);">ENTER NEW PASSWORD</th>
        </tr>
        <tr>
            <td><input type="text" name="password"></td>


        </tr>
        <tr>
            <th style="color: rgb(15, 15, 15);">CONFIRM PASSWORD</th>
        </tr>
        <tr>
            <td><input type="text" name="newpassword"></td>


        </tr>
        <tr>
            <td><input type="submit" value="submit"  class="btn btn-success" name="submit"></td>

        </tr>


    </table>
</form>

</div>
</section>


{%include 'footer.html'%}