{%include 'header.html'%}


 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1 align="center"  style="color: rgb(3, 3, 3);">CYBER GUARD</h1>
    
 

<form action="" method="post">
    <table align="center">

        <tr>
            <th style="color: rgb(3, 3, 3);">Enter Email,Phonenumber or Username</th>
        </tr>
        <tr>
            <td ><input type="text" name="password" ></td>


        </tr>
        <tr>
            <th><input type="submit" value="SUBMIT" class="btn btn-success" name="submit"></th>

        </tr>


    </table>
</form>


</div>
</section><!-- End Hero -->















{%include 'footer.html'%}