{%include 'header.html'%}


<!-- <body bgcolor="cyan">
<h1 align="center">welcome</h1> -->


 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1 style="color: black;">CYBER GUARD</h1>
      <h2 style="color: black;"> Cyber bullying is bulling. Hiding behind a pretty screen doesn’t <br> make it less hateful. Written words have power. </h2>
      <a class="btn btn-info"  href="login" class="btn-get-started scrollto">Get Started</a>



    </div>
  </section><!-- End Hero -->









{%include 'footer.html'%}

 