{%include 'header.html'%}




<!-- 
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <img src="static/assets/img/cyber guard.png" />
    </div>
    <div class="l-part">
      <input type="text" placeholder="Username" class="input-1" />
      <div class="overlap-text">
        <input type="password" placeholder="Password" class="input-2" />
        <a href="/forgotpassword">forgot password</a>
      </div>
      <input type="button" value="Log in" class="btn" />
    </div>
  </div>
  <div class="sub-content">
    <div class="s-part">
      Don't have an account?<a href="#">Sign up</a>
    </div>
  </div>
</div> -->




<!-- By Coding Market -->
<!-- <div class="youtube">
  <a href="https://www.youtube.com/channel/UCtVM2RthR4aC6o7dzySmExA" target="_blank">by coding market</a>
</div> -->



<!-- <style>
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eee;
}

#wrapper {
  width: 500px;
  height: 50%;
  overflow: hidden;
  border: 0px solid #000;
  margin: 50px auto;
  padding: 10px;
}

.main-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  padding: 40px 50px;
}

.header {
  border: 0px solid #000;
  margin-bottom: 5px;
}

.header img {
  height: 50px;
  width: 175px;
  margin: auto;
  position: relative;
  left: 40px;
}

.input-1,
.input-2 {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.overlap-text {
  position: relative;
}

.overlap-text a {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #003569;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
  letter-spacing: -1px;
}

.btn {
  width: 100%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.sub-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  border: 1px solid #e6e6e6;
  padding: 20px 50px;
  background-color: #fff;
}

.s-part {
  text-align: center;
  font-family: 'Overpass Mono', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

.s-part a {
  text-decoration: none;
  cursor: pointer;
  color: #3897f0;
  font-family: 'Overpass Mono', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

input:focus {
    background-color: yellow;
}








</style> -->

<!-- 
/* youtube link */
/* .youtube{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;
  text-align: center;
  padding: 15px 10px;
  background: #bb0000;
  border-radius: 5px;
} */

/* .youtube a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
} */ -->













<section id="hero" class="d-flex align-items-center">
   
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <div class="one">

        <section class="loginpage">
            <form action="#" class="log-in" method="post"  style="margin-right: -30px;">
                <h1  style="color: rgb(5, 5, 5);" class="title">Login</h1>
    
                <label for="log-username"></label>
                <input type="text" placeholder="USERNAME" minlength="4" style="color: rgb(5, 5, 5);" maxlength="20" id="log-username" required name="uname">
                <label for="log-password"></label>
                <input type="password" style="margin-top: -10px;"placeholder="PASSWORD" style="color: rgb(5, 5, 5);" minlength="2" maxlength="50" id="log-password" required name="password">
    
                <input type="submit" name="login" value="LOGIN" id="submit" action="#">
                <a href="/forgotpassword">Forgot password</a>
            </form>
        </section> 

        
    <!-- <form method="post">
        <table>
            <tr>
                <th><input type="text" placeholder="username" name="uname"></th>
            </tr>
            <tr>
                <th><input type="password" placeholder="password" name="password"></th>
            </tr>
            <tr>
                <th><input type="submit" name="login" value="login"></th>
            </tr>
        </table>
    </form>  -->


</div>
</div>
</section>
    
   <style>
    * {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(245, 2, 2);
}


.one{
    margin-right: 300px;
}

.log-in {
    background: rgba(224, 220, 220, 0.723);
    width: 400px;
    border-radius: 20%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(4, 132, 245);
    margin-left: 40%;
}

.title {
    padding-top: 30px;
    color: rgb(171, 85, 85);
}



#log-username {
    display: block;
    text-align: center;
    border: 2px solid rgb(50, 197, 255);
    border-radius: 40px;
    padding: 11px 30px;
    width: 160px;
    background: none;
    margin: 20px auto;
   
    transition: 0.25s;
    color: aliceblue;
}

#log-password {
    display: block;
    text-align: center;
    border: 2px solid rgb(50, 197, 255);
    border-radius: 40px;
    padding: 11px 30px;
    width: 160px;
    background: none;
    
    margin: 20px auto;
    transition: 0.25s;
    color: aliceblue;
}

#submit {
    border: 2px solid rgba(17, 255, 96, 0.782);
    background: rgba(17, 255, 96, 0.786);
    color: aliceblue;
    padding: 11px 20px;
    border-radius: 40px;
    margin-bottom: 30px;
    width: 100px;
    transition: 0.25s;
}

#log-username:hover, #log-password:hover {
    width: 200px;
}

#submit:hover {
    cursor: pointer;
    width: 120px;
    color: black;
    background-color: white;
}


   </style>
   




{%include 'footer.html'%}




