{%include 'adminheader.html'%}


<section id="hero" class="d-flex align-items-center"> 
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1 style="color:black">ADD NOTIFICATION</h1>
     <h2 style="color: black;">Cyber bullying is bulling. Hiding behind a pretty screen doesn’t <br> make it less hateful. Written words have power.  </h2>
  

     <div>
     
        <img src="/static/assets/img/2937927-removebg-preview.png" alt="" class="cam" height="300px">
    </div>


<form action="" method="post" style="margin-top: -150px;">
        <table align="center">

            <tr>
                <th style="font-size: 30px;color:black">NOTIFICATION</th>
            </tr>
            <tr>
                <td><input type="text" style="border: 2px solid black;"  name="NOTIFICATION" class="form-control"></td>


            </tr>
            <tr>
                <th></th>
            </tr>
            <tr>
                <td><input type="submit" value="submit" class="btn btn-success"name="SUBMIT"></td>

            </tr>


        </table>
    </form>
    








{%include 'footer.html'%}