{%include 'staffheader.html'%}

<section id="hero" class="d-flex align-items-center"> 
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1 style="color:black">WELCOME STAFF</h1>
      <h2 style="color: black;"></h2style> Cyber bullying is bulling. Hiding behind a pretty screen doesn’t ,<br>make it less hateful. Written words have power.  </h2>
      <a href="/" class="btn-get-started scrollto">LOGOUT</a>
    




    
    </div>
</section>
{%include 'footer.html'%}


